<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ToDo List</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div id="app">
    <div class="header">
      <div class="container">
        <div class="logo">ToDo List</div>
        <div class="form">
          <input
            type="text"
            v-bind:value="valueInput"
            v-on:input="handleInput"
            v-on:keypress.enter="addTask"
            >
          <button class="btn" v-on:click="addTask">Přidat úkol</button>
        </div>
      </div>
    </div>
    <div class="container">
      <h2>
        <span>Rozpracované</span>
        <span class="mask-num">{{ needDoList.length }}</span>
      </h2>
      <ul class="mask-list">
        <li
          v-for="(mask, index) in needDoList"
          :key="mask.id"
        >
          <div>
            <input type="checkbox" v-on:change="doCheck(index, 'need')"/>
            <span>{{ mask.title }}</span>
          </div>
          <button class="btn-remove" v-on:click="removeMask(index, 'need')">Odstranit</button>
        </li>
      </ul>
      <h2>
        <span>Dokončené</span>
        <span class="mask-num">{{ completeList.length }}</span>
      </h2>
      <ul class="mask-list complete-list">
        <li
          v-for="(mask, index) in completeList"
          :key="mask.id"
        >
          <div>
            <input type="checkbox" v-on:change="doCheck(index, 'complete')"  checked>
            <span>{{ mask.title }}</span>
          </div>
          <button class="btn-remove" v-on:click="removeMask(index, 'complete')">Odstranit</button>
        </li>
      </ul>
    </div>
  </div>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="./app.js"></script>
</body>
</html>